<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="HTTP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/http.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>./logs/recommender.log.%d{yyyyMMdd}</FileNamePattern>
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z', GMT} %-5p %C.%M:%L[%t] - %m%n</pattern>
        </encoder>
    </appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="fogetti.phish.storm" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.freaknet.gtrends.api" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.apache.http" level="DEBUG" additivity="false">
        <appender-ref ref="HTTP" />
	</logger>

    <logger name="com.gargoylesoftware" level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>